doctype

html
  head
    link(link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    style.
      @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
      main, .wrapper {
        max-width: 100vw;
        max-height: 100vh;
        overflow: hidden;
      }
      .card {
        position: absolute;
        height: 800px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
      }
      .img-col {
        overflow: hidden;
      }
      .background-img {
        width: 100%;
        background-size: 100%;
      }
      .banner-img {
        max-height: 150px;
      }
      h1 {
        font-family: 'Tinos', serif;
        font-weight: bold;
      }
  body
    main
      div.row.wrapper
        div.col-7.img-col
          img(src="https://i.ibb.co/McJfVHW/pexels-hassan-ouajbir-1535288.jpg").background-img
        div.col-5
          div.card
            div.card-body
              div.container
                div.top-img.card-img-top.mb-3
                  div.row
                    div.col-4
                      img(src="https://i.ibb.co/YRRCCNZ/The-Collective-Final-1.png" width="100%")
                    div.col-8
                      div.mt-4
                        | Get into island spirit at
                        h1 The Collective Palm Beach
                        span.text-warning One with the best beach bars in Wakanda offering light meals and island-style drinks overlooking the beach

                div.row
                  div.col-6
                    label(for="inpt-firstname" class="form-label ")
                      strong First name
                    input(class="form-control" id="inpt-firstname")
                  div.col-6
                    label(for="inpt-lastname" class="form-label")
                      strong Last name
                    input(class="form-control" id="inpt-lastname")
                  div.col-12.my-3
                    label(for="inpt-email" class="form-label")
                      strong Email
                    input(class="form-control" id="inpt-email" type="email")
                  div.col-6
                    label(for="inpt-mobile" class="form-label")
                      strong Mobile number
                    input(class="form-control" id="inpt-mobile")
                  div.col-6
                    label(for="inpt-country" class="form-label")
                      strong Country
                    input(class="form-control" id="inpt-country")
                  div.col-6.mt-3
                    label(for="inpt-password" class="form-label")
                      strong Password
                    input(class="form-control" id="inpt-password" type="password")
                  div.col-6.mt-3
                    label(for="inpt-conf-password" class="form-label")
                      strong  Confirm Password
                    input(class="form-control" id="inpt-conf-password" type="password")
                  div.col-12.mt-3.d-grid
                    button.btn.btn-warning.text-white Create an account
                  div.col-12.mt-3.text-center
                    div.card-text Already have a VIP account? 
                      a(href="#").text-warning Sign in
            